h2, p { margin-bottom: 2.4rem; margin-top: 1rem;} /*2 lines space*/

/*h1   { font: 700 2.0rem/1.2 "Roboto"; color: hsl(000,  0%, 33%); }*/
h6 { font: normal 2.0rem/1.2 "alexandreregular"; color: var(--yellow);} /*id removed padding unknown reasons therefore incorrent use of h6*/
h1   { font: normal 2.0rem/1.2 "alexandreregular"; color: var(--brown); }
h2   { font: 400 1.3rem/1.2 "Roboto"; color: var(--brown); }
time { font: 700 1.0rem/1.2 "Roboto"; color: var(--green); }
h3   { font: 700 1.0rem/1.2 "Roboto"; color: var(--brown);}
p    { font: 400 1.0rem/1.5 "Roboto"; color: var(--brown);}
figcaption p { font: 400 1.0rem/1.5 "Roboto"; color: var(--brownlight); }
		
a { box-shadow: inset 0 -0.25em var(--yellow); }

@media (max-width: 8.5in) { :root { font-size: 18px;} h6{ font: normal 1.5rem/1.2 "alexandreregular"; color: var(--yellow);}  
h1   { font: normal 1.7rem/1.2 "alexandreregular"; color: var(--brown); }
}
@media (max-width: 5.0in) { :root { font-size: 16px; } }



